@color-primary: #1aa94c;
@color-secondary: #ff5a5f;
@color-white: #ffffff;
@color-text-1: #cdd6d8;
@color-text-2: #a8a8a8;
@color-text-3: #333333;
body, html{
  overflow-x: hidden;
}
.ss {
  &-general {
  }
  &-banner {
    background-image: url(/assets/img/banner-job-ads-1.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 88% ;
      &-kc{
        background: #FFFFFF;
        margin: 116px 46px 89px 36px;
          div{
            img{
              width: 32px;
              height: 32px;
            }
            padding: 39px 32px 5px 32px;
            font-size: 20px;
            font-weight: bold;
            line-height: 22px;
            color: #333333;
            img{

            } 
          }
          p{
            padding: 32px;
            padding-top: 30px;
            font-size: 14px;
          }
      }
  }
  &-search {
    background: #E7EEEF;
    &-ks{
      
      input:focus{
        outline: none;
        border: none;
      }
    }
    .list-content{
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      li{
        width: 30%;
        white-space: nowrap;
      }
    }
  }
  &-platform {
  }
  &-rate {
  }
  &-member {
  }
  &-vender {
  }
}
