@color-primary: #1aa94c;
@color-secondary: #ff5a5f;
@color-white: #ffffff;
@color-text-1: #cdd6d8;
@color-text-2: #a8a8a8;
@color-text-3: #333333;

.ss {
  &-general {
  }
  &-banner {
      &-kc{
          
      }
  }
  &-search {
  }
  &-platform {
  }
  &-rate {
  }
  &-member {
  }
  &-vender {
  }
}
